{% extends "CoreBundle::base.html.twig" %}

{% block content %}
<div class="container">

<div class="row">

<div class="col-md-2">
    <ul class="list-unstyled character-list-mini"> 
        <li><a href="{{ path("show-backoffice") }}">Administration</a></li>
        <li><a href="{{ path("fos_user_profile_edit") }}">Profil</a></li>
        <li><a href="{{ path("edit-cover") }}">Couverture</a></li>
        <li><a href="{{ path("backoffice-characters") }}">Presonnages</a></li>
        <li><a href="{{ path("admin-blog") }}">Blog</a></li>
    </ul>
</div>
<div class="col-md-10">
{% block backofficeContent %}
{% endblock backofficeContent %}
</div>
</div>
</div>

{% endblock content %}