{% extends "CoreBundle::base-profile.html.twig" %}

{% block content %}
{{ friendLink|friendButton(app.user) }}


  <div class="col-md-4">

        {# user announce 
        {% if user.announce %}
            <h2 class="profile-announcement">&ldquo;{{ user.announce }}&rdquo;</h2>
        {% elseif user == app.user %}
            <p class="margin-bottom-20">Vous n'avez pas encore de description. <br/>
            <a href="{{ path("fos_user_profile_edit") }}">
            <span class="glyphicon glyphicon-pencil"></span> Éditer votre profil</a>.</p>
        {% endif %}#}

        <div class="dark-box">
            <h3><span>Informations</span></h3>
            <strong>Last connnection</strong><br/>
            <span>{{ user.lastLogin|date() }}</span><br/>
             <strong>Actual Game</strong><br/>
            <span>None</span><br/>         



        {# character list #}
        {% if user.characters|length > 0 %}
        
                <h3><span>Personnages</span> <em>{{ user.characters|length }}</em></h3>
                <ul class="list-unstyled character-list-mini">
                {% for char in user.characters %}
                    <li><a href="{{ path("single-character", {id: char.id}) }}"><img src="{{ char.WebPath|imagine_filter("mini_character_thumbnail") }}" width="43" height="43"> {{ char.name }}</a></li>
                {% endfor %}
                {% if user == app.user %}
                <li><a href="{{ path("add-character") }}"  class="discret gray-large-button"><span class="glyphicon glyphicon-plus"></span> Ajouter un personnage</a></li>
                {% endif %}
                </ul>
           

        {% elseif user == app.user %}
            <h3><span>Personnages</span></h3>
            <span>Vous n'avez pas encore créé de personnage.</span><br/>
           <a href="{{ path("add-character") }}" class="discret gray-large-button"><span class="glyphicon glyphicon-plus"></span> Créer mon premier personnage</a>

        {% endif %}
            </div>

        </div>{# end column #}

        <div class="col-md-8 col-lg-7">
            {# activity list#}
            {% if user.activities|length > 0  %}
            <div class="activites-list content-with-margin">
                {% render path("include-activities", {"id": user.id}) %}
            </div>
            {% else %}
                <div class="col-md-12 no-data-full-size">
                <span class="glyphicon glyphicon-exclamation-sign"></span><br/>
                    {{ user.username }} n'a pas encore d'activité.
                </div>
            {% endif %}

        </div>


























{% endblock content %}