<header id="main-top-bar" class="header-main">  
<div class="pull-left">
    <a href="{{ path("lunaatra_core_default_index") }}" id="logo-header"></a>
</div>
<div class="pull-left visible-md-block visible-sm-block  visible-lg-block">
    <form>
        <input  type="search" placeholder="Recherche" name="search" id="search"/><button type="submit" id="search-submit"><span class="glyphicon glyphicon-search"></span></button>
    </form>
</div>
    {% trans_default_domain 'FOSUserBundle' %}

    {% if is_granted("ROLE_USER") %}
        <div class="pull-right profile-area">
        <div>
            <a href="" id="home" class="glyphicon glyphicon-th"></a>
        </div>
        <div>
            <a href="{{ path("lunaatra_core_default_index") }}" id="home" class="glyphicon glyphicon-home"></a>
        </div>

        <div>
            <a class="hidden-xs span-username" href="{{ path("fos_user_profile_show") }}"><span>{{ app.user.username }}</span></a>
            <a href="{{ path("fos_user_profile_show") }}"><img src="{{ app.user.WebPath | imagine_filter("micro_profile_thumbnail") }}">
            </a>
        </div>
        <div>
            <a href="" id="trigger-main-menu-dropdown" class="glyphicon dropdown glyphicon-cog"></a>
            <ul id="main-menu-dropdown" class="list-unstyled dropdown-menu">
                <li><a href="{{ path("fos_user_profile_show") }}"><span class="glyphicon glyphicon-user"></span>Mon profil</a></li>
                <li><a href="{{ path("fos_user_profile_edit") }}"><span class="glyphicon glyphicon-pencil"></span>Éditer mes informations</a></li>
                <li class="visible-xs-block" ><a href="#"><span class="glyphicon glyphicon-search"></span>Rechercher</a></li>

                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }} </a></li>
            </ul>
        </div>
        
        
    </div>
    {% else %}
    <div class="pull-right visible-md-block visible-lg-block">
        <form action="{{ path("fos_user_security_check") }}" method="post" class="fos_user_registration_register"> 
            <input type="text" id="username" name="_username" required="required" placeholder="{{ 'security.login.username'|trans }}" />

             <input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}"/>

             <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">
             <span class="glyphicon glyphicon-ok"></span>
             </button>
             <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        </form>
    </div>
    <div class="pull-right visible-xs-block visible-sm-block">
        <a href="{{ path("fos_user_security_login") }}">Login</a>
    </div>
    {% endif %}

</header>