{% extends "ProfileBundle:Backoffice:bolayout.html.twig" %}

{% block backofficeContent %}

<form class="normal-form" method="post" {{ form_enctype(form) }} action="">
    <div class="white-box">
        <div class="row">
            <div class="col-md-12">

                <h1>Créer un nouveau post</h1>
                {{ form_label(form.title,null, { "label_attr": {"class":"col-no-padding col-xs-12 col-sm-5"}}) }}
                {{ form_widget(form.title, { "attr": {"class":"col-no-padding col-xs-12 col-sm-7"}}) }}

                {{ form_label(form.privacy,null, { "label_attr": {"class":"col-no-padding col-xs-12 col-sm-5"}}) }}
                        {{ form_widget(form.privacy, { "attr": {"class":"col-no-padding col-xs-12 col-sm-7 no-margin-right"}}) }}

                {{ form_label(form.game,null, { "label_attr": {"class":"col-no-padding col-xs-12 col-sm-5"}}) }}
                        {{ form_widget(form.game, { "attr": {"class":"col-no-padding col-xs-12 col-sm-7 no-margin-right"}}) }}

                <div class="clearfix"></div>
                {{ form_widget(form.content, { "attr": {"class":"tinymce"}}) }}

                <br/>
                <p class="text-right">

                {% if post is defined %}
                    <a class="red-button" href="{{ path("delete-post", {id: post.id}) }}">Supprimer le post</a>
                {% endif %}
                {% if post is not defined or ( post is defined and post.draft == true ) %}
                    {{ form_widget(form.draft) }}
                {% endif %}
                    {{ form_widget(form.save) }}
                    {{ form_widget(form) }}
                </p>
            
            </div>
        </div>
    </div>
</form>



{% endblock backofficeContent %}

{% block jsbottom %}
    {{ tinymce_init() }}
{% endblock jsbottom %}