{% extends "ProfileBundle:Backoffice:bolayout.html.twig" %}

{% block backofficeContent %}
{% set user = app.user %}

<form class="normal-form" method="post" {{ form_enctype(form) }} action="">
    <div class="white-box">
        <div class="row">
            <div class="col-md-12">
            <h1>Add character</h1>

                <h2><span>Informations générales</span></h2>
                {{ form_label(form.name,null, { "label_attr": {"class":"col-no-padding col-xs-12 col-sm-5"}}) }}
                        {{ form_widget(form.name, { "attr": {"class":"col-no-padding col-xs-12 col-sm-7"}}) }}

                {{ form_label(form.class,null, { "label_attr": {"class":"col-no-padding col-xs-12 col-sm-5"}}) }}
                        {{ form_widget(form.class, { "attr": {"class":"col-no-padding col-xs-12 col-sm-7"}}) }} 

                {{ form_label(form.level,null, { "label_attr": {"class":"col-no-padding col-xs-12 col-sm-5"}}) }}
                        {{ form_widget(form.level, { "attr": {"class":"col-no-padding col-xs-12 col-sm-7"}}) }}

                {{ form_label(form.server,null, { "label_attr": {"class":"col-no-padding col-xs-12 col-sm-5"}}) }}
                        {{ form_widget(form.server, { "attr": {"class":"col-no-padding col-xs-12 col-sm-7"}}) }}

                {{ form_label(form.game,null, { "label_attr": {"class":"col-no-padding col-xs-12 col-sm-5"}}) }}
                        {{ form_widget(form.game, { "attr": {"class":"col-no-padding col-xs-12 col-sm-7 no-margin-right"}}) }}

                {{ form_label(form.birthday,null, { "label_attr": {"class":"col-no-padding col-xs-12 col-sm-5"}}) }}
                        {{ form_widget(form.birthday, { "attr": {"class":"col-no-padding col-xs-12 col-sm-7"}}) }}

                <div class="clearfix"></div>

                <h2><span>Image de profil</span></h2>
                {% if character is defined %}
                <img class="margin-auto medaillon" src="{{ character.WebPath | imagine_filter('profile_thumbnail') }}">
                {% endif %}
                {{ form_label(form.file,null, { "label_attr": {"class":"col-no-padding col-xs-12 col-sm-5"}}) }}
                {{ form_widget(form.file, {attr:{onchange:"document.my_im.src=this.value;"}}) }}

                <h2><span>Privacy</span></h2>

               {{ form_label(form.privacy,null, { "label_attr": {"class":"col-no-padding col-xs-12 col-sm-5"}}) }}
                        {{ form_widget(form.privacy, { "attr": {"class":"col-no-padding col-xs-12 col-sm-7"}}) }}

                <div class="clearfix"></div>
                <h2><span>Biographie</span></h2>

                {{ form_widget(form.bio,{ "attr":{"class":"tinymce"}}) }}
                {{form_widget(form)}}
                <br/>
                <p class="text-right">
                {% if character is defined %}
                    <a class="red-button" href="{{ path("delete-character", {id: character.id}) }}">Supprimer le personnage</a>
                    <input class="green-button" type="submit" value="Éditer"/>
                {% else %}
                    <input class="green-button" type="submit" value="Créer"/>
                {% endif %}

                </p>
            
            </div>
        </div>
    </div>
</form>


{% endblock backofficeContent %}

{% block jsbottom %}
    {{ tinymce_init() }}
{% endblock jsbottom %}
