{% extends "ProfileBundle:Backoffice:bolayout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block backofficeContent %}

{% set user = app.user %}

<form action="" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit normal-form">

    <div class="white-box" >

        <!-- <div class="text-right">
            <a class="red-button" href="{{ path("fos_user_profile_show") }}">Cancel</a>
            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div> -->
        <h2><span>Couverture</span></h2>
        {% if user.cover %}
        <p class="text-center">
        <img style="max-width:100%" src="{{user.cover.WebPath | imagine_filter("mini_cover_thumbnail")}}">
        </p>
        {% endif %}

        <p class="text-center">
            {{ form_widget(form.file) }}
            {{ form_widget(form) }}
            
        </p>


        <br/>
        <div class="text-right">
            <a class="red-button" href="{{ path("fos_user_profile_show") }}">Cancel</a>
            <input type="submit" class="green-button" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
   
    </div>
</form>
      

{% endblock backofficeContent %}

{% block jsbottom %}
{{ tinymce_init() }}
{% endblock jsbottom %}

